.text-gold {
  color: #C2A661;
}

.text-light-gray {
  color: rgba(0, 0, 0, 0.56);
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  font-size: 62.5% !important;
  -webkit-text-size-adjust: 100%;
}
html body {
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  letter-spacing: 1px;
  font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  line-height: 160%;
  height: 100%;
  background: #f7f7f7;
  letter-spacing: 0.4px;
}

.shadow {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
}

.float-card {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
}
.float-card:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.22);
  transform: translateY(-3px);
}

a, a:hover {
  color: initial;
  text-decoration: none;
}

.navbar-brand {
  padding: 0;
}

.left-box {
  left: 0;
  width: 30% !important;
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  z-index: 100;
}
.left-box .header {
  padding: 24px;
}
.left-box .header .logo img {
  outline: none;
  width: 36px;
}
.left-box .header .icon {
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
}
.left-box .header .icon:hover {
  opacity: 1;
  transition: 0.2s;
}
.left-box .header .icon:active {
  opacity: 0.6;
  transform: scale(0.8);
}
.left-box .header .icon.close {
  outline: none;
  transition: all 0.1s linear;
  width: 48px;
  height: 60px;
  margin: -12px;
}
.left-box .overlay {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: white;
  transition: all 0.1s linear;
  z-index: 10000;
}
.left-box .overlay .menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-box .overlay .body {
  transform: scale(1.2);
  transition: all 0.1s linear;
}
.left-box .overlay .body .middle {
  vertical-align: middle;
  padding-left: 84px;
  padding-right: 24px;
}
.left-box .overlay .body .middle ul {
  list-style: none;
  font-size: 2.6rem;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 120%;
}
.left-box .overlay .body .middle ul a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 0;
  user-select: none;
}
.left-box .overlay .body .middle .account {
  margin-top: 20px;
}
.left-box .overlay .body .middle .account a {
  margin-right: 18px;
}
.left-box .overlay .body hr {
  background: rgba(0, 0, 0, 0.12);
  border: 0;
  height: 1px;
  box-sizing: content-box;
  margin-bottom: 12px;
  margin-top: 12px;
}
.left-box .overlay .footer {
  color: rgba(0, 0, 0, 0.12);
  display: inline-block !important;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 160%;
  margin-top: 12px;
  width: 100%;
}
.left-box .overlay .footer .holder {
  margin: 0 24px 24px 84px;
}
.left-box .overlay .footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.38);
}
.left-box .overlay.active {
  visibility: visible;
  opacity: 1;
}
.left-box .overlay.active .body {
  transform: scale(1);
}
.left-box .login {
  display: flex;
  align-items: center;
  margin-left: 84px;
  margin-right: 24px;
  height: calc(100vh - 70px);
}
.left-box .login span {
  font-size: 26px;
}
.left-box .register {
  height: 31px;
  width: 59px;
  padding: 2px 12px;
  font-size: 16px;
  border-radius: 15px;
  color: #00A862;
  border-color: #00A862;
}
.left-box .register:hover {
  color: white;
}

.right-box {
  width: 70% !important;
}

.star-club {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
.star-club .club-text {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
}
.star-club .club-text h2 {
  display: block;
  margin: 0;
  font-size: 22px;
  margin-bottom: 18px;
}
.star-club .club-text p {
  width: 360px;
  overflow-wrap: break-word;
  line-height: 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.56);
  margin-bottom: 24px;
}
.star-club .club-text button {
  font-size: 16px;
  padding: 6px 18px;
  border-radius: 48px;
  color: #00A862;
  border-color: #00A862;
}
.star-club .club-text button:hover {
  color: white;
}

.star-selected,
.star-lecture {
  padding-top: 36px;
  padding-bottom: 36px;
}
.star-selected h2,
.star-lecture h2 {
  display: block;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 22px;
}
.star-selected > p,
.star-lecture > p {
  display: block;
  margin-bottom: 32px;
}

.selected-card ul {
  display: block;
  margin-top: 64px;
}
.selected-card a {
  text-decoration: none;
  width: 162px;
  height: 196px;
}
.selected-card a:hover span {
  opacity: 1;
}
.selected-card a h4 {
  display: block;
  margin-top: 15px;
}
.selected-card a p {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 18px;
}
.selected-card a span {
  opacity: 0.7;
  font-size: 12px;
}
.selected-card a img {
  height: 72px;
  margin-top: -24px;
}

.star-lecture {
  background: white;
  overflow: hidden;
}
.star-lecture .lecture-card {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.star-lecture .lecture-card a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 18px;
  margin-right: 16px;
}
.star-lecture .lecture-card a img {
  width: 290px;
  height: 168px;
  margin: -18px;
  margin-bottom: 0;
  border-radius: 2px;
}
.star-lecture .lecture-card a span {
  position: absolute;
  padding: 4px 12px;
  font-size: 14px;
  background-color: #C2A661;
  color: white;
  z-index: 1;
  left: 0px;
  top: 6px;
}
.star-lecture .lecture-card a h4 {
  display: flex;
  margin-top: 18px;
  font-size: 16px;
}

.account-welcome img {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
