$main-height: 60vh;
$minor-height: 20vh;

/*** FONTS ***/
@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-bold.eot");
    src: url("/fonts/gotham-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/gotham-bold.woff") format("woff"),
        url("/fonts/gotham-bold.ttf") format("truetype"), url("/fonts/gotham-bold.svg#Icons") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-medium.eot");
    src: url("/fonts/gotham-medium.eot?#iefix") format("embedded-opentype"),
        url("/fonts/gotham-medium.woff") format("woff"), url("/fonts/gotham-medium.ttf") format("truetype"),
        url("/fonts/gotham-medium.svg#Icons") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-book.eot");
    src: url("/fonts/gotham-book.eot?#iefix") format("embedded-opentype"), url("/fonts/gotham-book.woff") format("woff"),
        url("/fonts/gotham-book.ttf") format("truetype"), url("/fonts/gotham-book.svg#Icons") format("svg");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background: #f2f2f2;
    color: #111111;
    font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-size: 16px;
    font-weight: normal;
    line-height: 160%;
    overflow: hidden;
    text-align: center;
}
a {
    text-decoration: none;
}

#header {
    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            transition: 0.2s;
        }
    }
}
#content {
    overflow: hidden;
    // position: relative;
    &::after {
        transition: 0.5s;
        content: "";
    }
}
.menu-overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.92);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;
    visibility: hidden;
    transition: 0.5s;
    .header {
        position: absolute;
        top: 0;
        right: 0;
        padding: 28px 54px;
        img {
            opacity: 0.5;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                transition: 0.2s;
                opacity: 1;
            }
        }
    }
    .body {
        width: 100%;
        height: auto;
        text-align: center;
        margin: auto;
        max-width: 960px;
        padding: 0 48px;
        transform: scale(1.8);
        transition-duration: 0.2s;
        transition-property: transform;

        a {
            color: rgba(255, 255, 255, 0.8);
            display: block;
            font-size: 24px;
            letter-spacing: 4px;
            padding: 48px;
            line-height: 120%;
            transition-duration: 0.2s;
            transition-property: color;
            &:hover {
                color: white;
            }
        }
    }
    &.active {
        transition: 0.5s;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
        width: 100%;
        height: 100%;
        top: 0;
        backdrop-filter: blur(20px);
        .body {
            transform: scale(1);
        }
    }
}
// @keyframes swipe{
//     from {
//         transform: translateX(0px);
//     }
//     to {
//         transform: translateX(-6000px);
//     }
// }

.swipper {
    // margin-top: -10px;
    position: absolute;
    // height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear 50s;
    cursor: pointer;
    // animation: swipe 50s infinite alternate linear;
}
.holder {
    width: 80px;
    opacity: 0;
    position: absolute;
    z-index: 100;
    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.store {
    position: relative;
    height: $main-height;
    margin-bottom: 30px;
    .image {
        height: $main-height;
        position: relative;
        padding: 0;
        .store-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
            span {
                position: absolute;
                left: 50%;
                bottom: 24px;
                width: 200px;
                margin-left: -100px;
                letter-spacing: 2px;
                text-align: center;
                color: white;
                z-index: 104;
                text-transform: uppercase;
            }
        }
        &:hover .store-overlay {
            opacity: 1;
        }
        img {
            height: 100%;
            transition: 0.3s;
        }
    }
    .holder {
        height: $main-height;
    }
}
.inspiration {
    height: 20vh;
    .image {
        height: 20vh;
        img {
            height: 100%;
        }
    }
    .swipper {
        right: 0;
    }
    .holder {
        height: $minor-height;
    }
}
#footer {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 140%;
    opacity: 0.6;
    padding: 36px 48px;
    text-align: left;
    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.3);
        opacity: 0.6;
    }
}
// .image:hover :before{
//     opacity: 0.7;
// }

body {
    background: #f2f2f2;
    color: #111111;
    font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;

    a {
        display: block;
        padding: 0;
    }
    .logo {
        opacity: 0.2;
        padding: 3px 0;
        transition-duration: 0.2s;
        img {
            width: 226px;
            height: 12px;
        }
    }
    .icon {
        border: none;
        background: none;
        cursor: pointer;
        img {
            height: 18px;
            opacity: 0.3;
            // transition-duration: 0.2s;
            // transition-property: opacity;
            // &:hover {
            //     opacity: 0.7;
            // }
        }
    }
}

body.page-about {
    background: #000;
    #header {
        .icon:hover img,
        .logo:hover {
            opacity: 1;
        }
        img {
            transition: 0.2s;
            filter: invert(1);
        }
    }
    &:before {
        bottom: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-image: url(/images/2.jpg);
        content: "";
        left: 0;
        opacity: 0.3;
        position: absolute;
        right: 0;
        top: 0;
    }
    #content {
        display: block;
        max-width: 720px;
        min-width: 375px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        line-height: 160%;
        h1 {
            color: rgba(255, 255, 255, 0.9);
            font-size: 24px;
            margin-bottom: 24px;
        }
        .joinus {
            display: block;
            margin-top: 120px;
            font-size: 20px;
            letter-spacing: 0.2em;
            text-align: center;
            color: white;
            opacity: 0.7;
        }
    }
}

.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    > * {
        position: relative;
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3333333333%;
    }
    > *:nth-child(3n + 1) {
        clear: right;
    }
    &.padded {
        margin: -3px;
        > * {
            padding: 3px;
        }
    }
    &:after {
        clear: both;
        content: "";
        display: table;
    }
    > * .cover {
        display: block;
        height: 0;
        position: relative;
        width: 100%;
        padding-top: 60%;
        &:before {
            z-index: 998;
            background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
            opacity: 0;
            transition-duration: 0.2s;
            // transition-property: opacity, visibility;
            visibility: hidden;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        h2 {
            font-weight: 400;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            left: 50%;
            letter-spacing: 2px;
            margin: auto;
            text-shadow: 0 0 3px rgb(0 0 0 / 50%);
            position: absolute;
            padding: 0;
            z-index: 999;
            bottom: auto;
            opacity: 0;
            top: 50%;
            transform: translate(-50%, -75%);
            transition-duration: 0.2s;
            // transition-property: opacity, transform, visibility;
            visibility: hidden;
        }
        &:hover:before,
        &:hover h2 {
            opacity: 1;
            visibility: visible;
        }
        &:hover h2 {
            transform: translate(-50%, -50%);
        }
    }
}

.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.page-inspirations,
.page-stores {
    overflow-y: scroll;
    .city-filter {
        ul {
            display: none;
        }
    }
    #content {
        padding: 0 48px;
    }
}

.card {
    opacity: 0;
    transition-duration: 0.2s;
    transform: translateY(48px);
    &.revealed {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-stores {
    .grid {
        > * {
            width: 20%;
        }
        > * .cover {
            padding-top: 100%;
        }
    }
}
